.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.todo-top {
  padding-top: 10px;
  display: flex;
  /* flex-direction: row; */
  flex: 1;
  /* background: yellow; */
}

.todo-label {
}

.todo-button {
}

.todo-list {
  flex: 10;
  /* background: coral; */
}

.todo-footer {
  flex: 1 1;
  /* background: orange; */
}
