* {
  margin: 0;
  padding: 0;
}

.home {
  background: #f5f5f5;
}

.container {
  font-family: ui-sans-serif;
  padding-top: 20px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "dropdown todoForm todoForm"
    "todolist todolist todolist"
    ". todofooter .";
}
.dropdown {
  grid-area: dropdown;
  margin-right: 10px;
}

.todoForm {
  grid-area: todoForm;
}

.todolist {
  grid-area: todolist;
}

.todoList {
  grid-area: todoList;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-areas: "todoCheckBox todoTitle todoCloseButton";
  justify-items: center;
  align-items: center;
  color: black;
  /* font-weight: bold; */
  font-size: x-large;
  height: 70px;
}

.todoList:nth-child(odd) {
  background: rgb(228 228 228);
}

.todoList:nth-child(even) {
  background: rgb(255 255 255);
}

.todoCheckBox {
  grid-area: todoCheckBox;
}

.todoTitle {
  grid-area: todoTitle;
}
.todoCloseButton {
  grid-area: todoCloseButton;
}

.todo-footer {
  grid-area: todofooter;
  justify-self: center;
}

.form {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-areas: "searchbox addTodo";
}

.searchbox {
  grid-area: searchbox;
  outline: 3px solid #a59898;
  margin-right: 3px;
  margin-left: 3px;
}

.addTodo {
  grid-area: addTodo;
  margin-left: 15px;
}
