.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 auto;
  /* max-width: 112rem; */
  padding: 0 2rem;
  padding-top: 5rem;
  position: relative;
  width: 100%;
  height: 100vh;
  /* margin-right: auto;
  margin-left: auto; */
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "dropdown todoForm todoForm"
    "todolist todolist todolist"
    ". todofooter .";
}

.dropdown {
  grid-area: dropdown;
  margin-right: 10px;
}

.todoForm {
  grid-area: todoForm;
}

.todolist {
  grid-area: todolist;
}

.todoList {
  grid-area: todoList;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-areas: "todoCheckBox todoTitle todoCloseButton";
  justify-items: center;
  align-items: center;
  color: black;
  font-size: x-large;
  height: 70px;
}

.todoList:nth-child(odd) {
  background: rgb(228 228 228);
}

.todoList:nth-child(even) {
  background: rgb(255 255 255);
}

.todoCheckBox {
  grid-area: todoCheckBox;
}

.todoTitle {
  grid-area: todoTitle;
}
.todoCloseButton {
  grid-area: todoCloseButton;
}

.todo-footer {
  grid-area: todofooter;
  justify-self: center;
}

.form {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-areas: "searchbox addTodo";
}

.searchbox {
  grid-area: searchbox;
  outline: 3px solid #a59898;
  margin-right: 3px;
  margin-left: 3px;
}

.addTodo {
  grid-area: addTodo;
  margin-left: 15px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelCard {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 1.5rem;
  align-items: center;
}

@media (min-width: 992px) {
  container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  container {
    max-width: 540px;
  }
}
