* {
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 10px;
  height: 100vh;
  /* width: 100vh; */
  display: grid;
  grid-template-columns: 2fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "dropdown todoform todoform"
    "todolist todolist todolist"
    ". todofooter .";
}

.todoform {
  grid-area: todoform;
}

.form {
  display: flex;
}

.dropdown {
  grid-area: dropdown;
  margin-right: 20px;
}

.todolist {
  grid-area: todolist;
}

.todo {
  color: black;
  font-weight: bold;
  font-size: x-large;
}

.todo:nth-child(odd) {
  background: rgb(253, 250, 250);
}

.todo:nth-child(even) {
  background: rgb(248, 234, 234);
}

.todo-footer {
  grid-area: todofooter;
  justify-self: center;
}

.searchbox {
  /* flex: 10; */
}

.addtodo {
  margin-left: 20px;
}
