/* .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "dropdown todoForm todoForm"
    "todolist todolist todolist"
    ". todofooter .";
}

.todo-top {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.dropdown {
  width: 200px;
}

.todoform {
  flex: 1;
}

.form {
  display: flex;
}

.todo-label {
}

.todo-button {
}

.todo-list {
  flex: 10;
}

.todo-footer {
  flex: 1 1;
}

.dropdown {
  grid-area: dropdown;
}

.searchbox {
  grid-area: searchbox;
}

.addTodo {
  grid-area: addTodo;
}

.dropdown {
  grid-area: dropdown;
}

.searchbox {
  grid-area: searchbox;
}

.addTodo {
  grid-area: addTodo;
}

.todocheckbox {
  grid-area: todocheckbox;
}

.todoTitle {
  grid-area: todoTitle;
}
.todoCloseButton {
  grid-area: todoCloseButton;
} */
